@using Layers;
@model List<Presupuesto_BE>

<div class="input-group bg-oriflame-gray rounded-pill p-0">
    <button class="btn btn-primary" onclick="ShowModalNuevo()"><i class="fad fa-search-plus me-2"></i> Nuevo</button>
</div>

<table class="table table-bordered table-striped table-hover table-sm w-100" id="tblDataTable">
    <thead>
        <tr>
            <th class="align-middle text-center">ACCIONES</th>
            <th class="align-middle text-center">TIPO DE GASTO</th>
            <th class="align-middle text-center">MONTO</th>
            <th class="align-middle text-center">MES</th>
            <th class="align-middle text-center">AÑO</th>
            <th class="align-middle text-center">ESTADO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td class="align-middle text-center">
                    <i class="fas fa-edit text-primary h5 me-2 hvr-grow" title="Editar"
                       onclick="ShowModalModificar('@row.id_presupuesto', '@row.id_tipo_gasto', '@row.monto.ToString("N2")', '@row.mes', '@row.anio')"></i>
                    <i class="fas fa-times text-danger h5 hvr-grow" title="Eliminar"
                       onclick="EliminarPresupuesto('@row.id_presupuesto', '@row.tipo_gasto', '@row.monto.ToString("N2")')"></i>
                </td>
                <td class="align-middle text-center">@row.tipo_gasto</td>
                <td class="align-middle text-end pe-2">Q @row.monto.ToString("N2")</td>
                <td class="align-middle text-center">@row.mes</td>
                <td class="align-middle text-center">@row.anio</td>
                <td class="align-middle text-center">
                    @if (row.estado == 1)
                    {
                        <i class="fas fa-check-circle text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-times-circle text-danger"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
