@using Layers;
@model List<Deposito_BE>

<div class="input-group bg-gastos-gray rounded-pill p-0">
    <button class="btn btn-primary" onclick="ShowModalNuevo()"><i class="fad fa-search-plus me-2"></i> Nuevo</button>
</div>

<table class="table table-bordered table-striped table-hover table-sm w-100" id="tblDataTable">
    <thead>
        <tr>
            <th class="align-middle text-center"></th>
            <th class="align-middle text-center">FECHA</th>
            <th class="align-middle text-center">FONDO MONETARIO</th>
            <th class="align-middle text-center">USUARIO</th>
            <th class="align-middle text-center">ESTADO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td class="align-middle text-center">
                    <i class="fas fa-times text-danger h5 hvr-grow" title="Eliminar" onclick="Eliminar('@row.id_deposito', '@row.fondo_monetario', '@row.monto.ToString("N2")')"></i>
                </td>
                <td class="align-middle text-center">@row.fecha.ToString("dd/MM/yyyy")</td>
                <td class="align-middle text-start">@row.fondo_monetario</td>
                <td class="align-middle text-center">@row.usuario</td>
                <td class="align-middle text-center">
                    @if (row.estado == 1)
                    {
                        <i class="fas fa-check-circle text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-times-circle text-danger"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>