@using Layers
@using Test_Gastos
@using Test_Gastos.Models;
@{
    List<Usuario_BE> Menu = Context.Session.Get<List<Usuario_BE>>(SessionKeys.Menu) ?? new List<Usuario_BE>();
    List<Usuario_BE> MenuPrincipal = Menu.Where(x => x.CODPADRE == 0).ToList();
    List<Usuario_BE> MenuSecundario;
    UserToken Usuario = new UserToken(Context.User);
}

<header class="fixed-top fixed-extra">
    <nav class="navbar navbar-expand navbar-light bg-light shadow-sm">
        <div class="container-fluid">
            <div class="d-flex flex-row w-100 justify-content-between align-self-center align-items-center">
                <div class="d-flex flex-even">
                    <ul class="navbar-nav">
                        <li class="nav-item cursor d-md-none">
                            <div class="d-flex align-items-center align-self-center" data-bs-toggle="offcanvas" data-bs-target="#offcanvasExample" aria-controls="offcanvasExample">
                                <i class="fal fa-bars fa-2x text-primary"></i>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-even">
                    <ul class="navbar-nav mx-auto">
                        <li class="nav-item w-100 text-center">
                            <a class="nav-link">
                                <img src="https://codemind.s3.us-east-2.amazonaws.com/utils/codemind_icono_blue.png" style="color: white;" height="30" alt="Logo" class="logo-nav">
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="d-flex flex-even">
                    <div class="d-flex align-items-center align-self-center">
                        <a asp-action="Out" asp-controller="Login">
                            <i class="fal fa-sign-out-alt fa-2x text-primary"></i>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </nav>
</header>

<div class="offcanvas offcanvas-start" tabindex="-1" id="offcanvasExample" aria-labelledby="offcanvasExampleLabel">
    <div class="offcanvas-header bg-primary text-white">
        <div class="row">
            <div class="col-12 p-0">
                <div class="d-flex">
                    <div class="profile">
                        <img src="@Usuario.PathFoto">
                        <div class="ms-2 mt-1">
                            <p class="m-0 p-0 fw-bold"><i class="fad fa-user me-1"></i>@Usuario.primer_nombre @Usuario.primer_apellido</p>
                            <p class="m-0 p-0 fw-bold"><i class="fas fa-circle text-success border border-white rounded-pill"></i> GASTOS</p>
                            <p class="m-0 p-0 fw-bold"><i class="fas fa-home-lg-alt"></i> <a asp-action="Index" asp-controller="Home" class="text-white hvr-grow" style="text-decoration:none" menu-id="0" menu-padre="0">DASHBOARD</a></p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-12 mt-2 p-0 text-center d-none">
                <div class="row">
                    <div class="col-3" data-bs-toggle="tooltip" title="Carro de Compras">
                        <a class="nav-link text-dark p-0" asp-action="Index" asp-controller="CarroDeCompras">
                            <small class="text-white d-block mx-auto text-center">Compra en Línea</small>
                        </a>
                    </div>
                    <div class="col-3" data-bs-toggle="tooltip" title="Mis Títulos">
                        <a class="nav-link text-dark p-0" asp-action="MisTitulos" asp-controller="Perfil">
                            <small class="text-white d-block mx-auto text-center">Mis Títulos</small>
                        </a>
                    </div>
                    <div class="col-3" data-bs-toggle="tooltip" title="E-Profile">
                        <a class="nav-link text-dark p-0" asp-action="Index" asp-controller="Perfil">
                            <small class="text-white d-block mx-auto text-center">E-Profile</small>
                        </a>
                    </div>
                    <div class="col-3" data-bs-toggle="tooltip" title="Salir">
                        <a class="nav-link text-dark p-0" asp-action="Out" asp-controller="Login">
                            <small class="text-white d-block mx-auto text-center">Salir</small>
                        </a>
                    </div>
                </div>
            </div>
        </div>
        <button type="button" class="btn-close text-reset text-white" data-bs-dismiss="offcanvas"><i class="fal fa-bars fa-2x text-white h3 pe-2"></i></button>
    </div>
    <div class="offcanvas-body">
        <div class="list-group bg-white list-group-flush shadow-sm">
            <div class="accordion accordion-flush d-block d-md-none" id="accordionMenuMain">
                <div class="accordion-item">
                    <div class="list-group list-group-flush bg-dark text-white">

                        <!-- Menú de Usuarios -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "Usuario")" menu-id="1">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="Usuario" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Usuarios
                                </a>
                            </h2>
                        </div>

                        <!-- Menú de Tipo de Gasto -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "TipoGasto")" menu-id="2">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="TipoGasto" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Tipo de Gasto
                                </a>
                            </h2>
                        </div>

                        <!-- Menú de Fondo Monetario -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "FondoMonetario")" menu-id="3">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="FondoMonetario" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Fondo Monetario
                                </a>
                            </h2>
                        </div>

                        <!-- Menú de Presupuesto -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "Presupuesto")" menu-id="4">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="Presupuesto" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Presupuesto
                                </a>
                            </h2>
                        </div>

                        <!-- Menú de Gasto -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "Gasto")" menu-id="5">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="Gasto" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Gasto
                                </a>
                            </h2>
                        </div>

                        <!-- Menú de Depósito -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "Deposito")" menu-id="6">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="Deposito" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Depósito
                                </a>
                            </h2>
                        </div>

                        <!-- Menú de Reporte -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "Reporte")" menu-id="7">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="Reporte" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Reporte
                                </a>
                            </h2>
                        </div>

                        <!-- Menú de Gráfica -->
                        <div class="accordion-item bg-transparent">
                            <h2 class="accordion-header bg-transparent" id="@string.Concat("flush-heading", "Graffica")" menu-id="8">
                                <a class="list-group-item bg-transparent text-white list-group-item-action border-0 ps-3" asp-action="Index" asp-controller="Graffica" menu-id="Index" menu-padre="0" style="font-size:16px; font-weight:normal">
                                    <i class="fas fa-chevron-right"></i> Gráfica
                                </a>
                            </h2>
                        </div>

                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
