@using Layers;
@model List<Usuario_BE>

<div class="input-group bg-gastos-gray rounded-pill p-0">
    <button class="btn btn-primary" onclick="ShowModalNuevo()"><i class="fad fa-search-plus me-2"></i> Nuevo</button>
</div>
<table class="table table-bordered table-striped table-hover table-sm w-100" id="tblDataTable">
    <thead>
        <tr>
            <th class="align-middle text-center"></th>
            <th class="align-middle text-center">IDENTIFICACIÓN</th>
            <th class="align-middle text-center">NOMBRE</th>
            <th class="align-middle text-center">APELLIDO</th>
            <th class="align-middle text-center">USUARIO</th>
            <th class="align-middle text-center">FECHA NACIMIENTO</th>
            <th class="align-middle text-center">DIRECCIÓN</th>
            <th class="align-middle text-center">CORREO</th>
            <th class="align-middle text-center">TELÉFONO</th>
            <th class="align-middle text-center">ESTADO</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var row in Model)
        {
            <tr>
                <td class="align-middle text-center">
                    <i class="fas fa-edit text-primary h5 me-2 hvr-grow" title="Editar" onclick="ShowModalUsuario('@row.id_usuario')"></i>
                    <i class="fas fa-times text-danger h5 hvr-grow" title="Eliminar" onclick="Eliminar('@row.id_usuario','@row.nombre','@row.apellido')"></i>
                </td>
                <td class="align-middle text-center">@row.identificacion</td>
                <td class="align-middle">@row.nombre</td>
                <td class="align-middle">@row.apellido</td>
                <td class="align-middle">@row.usuario</td>
                <td class="align-middle">@row.fecha_nacimiento.ToString("dd/MM/yyyy")</td>
                <td class="align-middle">@row.direccion</td>
                <td class="align-middle">@row.correo</td>
                <td class="align-middle">@row.telefono</td>
                <td class="align-middle text-center">
                    @if (row.estado == 1)
                    {
                        <i class="fas fa-check-circle text-success"></i>
                    }
                    else
                    {
                        <i class="fas fa-times-circle text-danger"></i>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>